header {
  min-height: 100vh;
  padding-top: 5rem;
  height: auto;
}

h5 {
  color: var(--color-light);
}

.header__text {
  user-select: none;
}

.header__container {
  text-align: center;
  position: relative;
  animation: anim4 1.5s forwards;
}

@keyframes anim4 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*========= CTA ========= */
.cta {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/*========= Header Socials ========= */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  bottom: 3rem;
  animation: anim 2.5s forwards;
}

.header__socials::after {
  content: "";
  left: 0rem;
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}

@keyframes anim {
  0% {
    left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}

/*========= Profile Picture ========= */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 28rem;
  height: 28rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8rem;
  border-radius: 50%;
  /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
  overflow: hidden;
  animation: anim2 2s forwards;
  user-select: none;
}

.me img {
  position: relative;
  top: 3rem;
}

@keyframes anim2 {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    bottom: 0%;
    opacity: 1;
  }
}

/*========= Profile Picture ========= */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  animation: anim3 2.5s forwards;
}

@keyframes anim3 {
  0% {
    right: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    right: 0%;
    opacity: 1;
  }
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
  header {
    min-height: 90vh;
  }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
  .me {
    width: 22rem;
    height: 22rem;
  }

  header {
    min-height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
